%h1 Listing albums

- @albums.each do |album|
  = album.name
  = link_to 'Show', album
  = link_to 'Edit', edit_album_path(album)
  = link_to 'Destroy', album, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Album', new_album_path
