.album{id: "album-#{@album.id}"}
  %h4= "Album: #{@album.name}"
  -if @album.artist
    Artist: #{@album.artist.name}

  -if @album.songs.present?
    %h4 Songs
    = render @album.songs

  =render "album_links", album: @album
